@using Kendo.Mvc.UI;
@using SalesHub.Client.Configuration
@using SalesHub.Client.ViewModels.Client;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>@ViewBag.Title</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.2.624/styles/kendo.common.min.css">
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.2.624/styles/kendo.default.min.css">
        <link href="@Url.Content("~/Content/site.css")" type="text/css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

        <meta name="viewport" content="width=device-width" />

        <script type="text/javascript">
            window.SalesHub = window.SalesHub || {};
            window.SalesHub.baseUrl = '@Url.Content("~/").TrimEnd('/')';
            window.SalesHub.viewModels = {};
            window.SalesHub.dataSources = {};
        </script>
        
        <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/libs/html5shiv.js")"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <h1><a href="@Url.RouteUrl("Default", new { controller = "Home", action = "Index" })">SalesHub</a></h1>
            <div class="sub-heading clearfix">
                <h2 class="customerPath"><a href="#"></a></h2>

                @if (!(ViewBag.IsMaintenanceMode ?? false))
                {
                    @(Html.Kendo().AutoComplete().Name("search")
                          .Filter(FilterType.StartsWith)
                          .Placeholder("Search for order...")
                          .Template("<span data-order-id='${ data.OrderId }'>${ data.OrderNumber }</span>")
                          .MinLength(3)
                          .DataSource(dataSource => dataSource
                                .Read(read =>
                                    read.Url(SettingsManager.BaseServiceUrl + "/Search/GetAutoCompleteSearchResults").Type(HttpVerbs.Get).Data("onAdditionalData")
                                )
                                .ServerFiltering(true)
                          )
                          .DataTextField("OrderNumber")
                          .Events(events => events.Select("window.SalesHub.SearchBox_Select")).Deferred())
                }
            </div>
            <script>
                function onAdditionalData(e) {
                    return {
                        text: $("#search").val()
                    };
                }
            </script>
        </header>
        <div id="body" class="content clearfix">
            @RenderBody()
        </div>

        <footer>
            <ul>
                <li>
                    <h1>SalesHub was made using</h1>
                    <a href="http://www.kendoui.com" style="display: block;"><img src="@Url.Content("~/Images/kendo-logo.png")" alt="Kendo UI"></a>
                </li>
                <li>
                    <p>
                        <a href="https://github.com/telerik/kendo-saleshub-demo" target="_blank" class="k-button">View the Source on GitHub</a>
                        <a href="http://docs.telerik.com/kendo-ui/aspnet-mvc/tutorials/tutorial-saleshub/kendo-saleshub-intro" target="_blank" class="k-button">View the SalesHub Documentation</a>
                    </p>
                </li>
                <li>
                    <p>Copyright &copy; 2016 Progress Software Corporation and/or its subsidiaries or affiliates. All Rights Reserved.</p>
                </li>
            </ul>
        </footer>

        @(Html.Kendo().Window()
            .Name("searchResultWindow")
            .Title("Search Results")
            .Modal(true)
            .Visible(false)
            .Height(600)
            .Width(500)
            .Content(@<text>
                @(Html.Kendo().Grid<OrderSearchResult>()
                    .Name("searchResultsGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.OrderNumber).Title("Order Number");
                        columns.Bound(c => c.SellingCompany).Title("Selling Co");
                        columns.Bound(c => c.Customer).Title("Customer");
                    })
                    .DataSource(ds => ds.Ajax()
                        .Read(read => read.Action("GetSearchResults", "Search").Type(HttpVerbs.Get))
                        .ServerOperation(true)
                    )
                    .Selectable()
                    .Events(events => events.Change("window.SalesHub.SearchResultsGrid_Change")).Deferred()
                )
            </text>)
            .Events(e => e.Open("window.SalesHub.SearchResultWindow_Open")).Deferred()
        )

        <script>
            window.SalesHub.Search = {
                settings: {
                    actionUrl: "/Order/Edit"
                }
            };
        </script>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://cdn.kendostatic.com/2015.2.624/js/kendo.all.min.js"></script>
        <script src="http://cdn.kendostatic.com/2015.2.624/js/kendo.aspnetmvc.min.js"></script>
        @Html.Kendo().DeferredScripts()
        <script src="@Url.Content("~/Scripts/search.js")"></script>
        <script src="@Url.Content("~/Scripts/header.js")"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
