@using System.Web.Mvc.Html;
@using Kendo.Mvc.UI;
@using SalesHub.Client.Extensions;
@using SalesHub.Client.ViewModels.Client;
@model OrderPaymentTermViewModel

<div class="paymentterm">
    <div>
        @Html.LabelFor(m => m.PaymentTerm.SplitPercentage, "Split:")
        @Html.Kendo().DropDownListFor(m => m.PaymentTerm.SplitPercentage).BindTo(Model.SplitPercentages).SelectedIndex(Model.SplitPercentages.FindSelected(Model.PaymentTerm.SplitPercentage.ToString("F1"))).Deferred()
    </div>
    <div>
        @Html.LabelFor(m => m.PaymentTerm.PaymentTermType, "Payment Terms:")
        @Html.Kendo().DropDownListFor(m => m.PaymentTerm.PaymentTermType.PaymentTermTypeId).BindTo(Model.PaymentTermTypes).SelectedIndex(Model.PaymentTermTypes.FindSelected(Model.PaymentTerm.PaymentTermType.PaymentTermTypeId.ToString())).Deferred()
    </div>
    <div>
        @Html.LabelFor(m => m.PaymentTerm.CreditTerms, "Credit Terms:")
        @Html.Kendo().DropDownListFor(m => m.PaymentTerm.CreditTerms).BindTo(Model.CreditTermDurations).SelectedIndex(Model.CreditTermDurations.FindSelected(Model.PaymentTerm.CreditTerms.ToString())).Deferred()
    </div>
    <div>
        @Html.LabelFor(m => m.PaymentTerm.EstPaymentDays, "Est. Payment Days After Invoice:")
        @Html.Kendo().NumericTextBoxFor(m => m.PaymentTerm.EstPaymentDays).Min(0).Max(999).Value(Model.PaymentTerm.EstPaymentDays).Decimals(0).Format("n0").Deferred()
    </div>
</div>
