@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    
    <link href="https://kendo.cdn.telerik.com/2016.3.914/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.3.914/styles/kendo.uniform.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
        @(Html.Kendo().Menu()
                    .Name("menu")
                    .Items(menu =>
                    {
                        menu.Add().Text("Home").Action("Index", "Home", new { area = "" });
                        menu.Add().Text("Area1").Action("Index", "Area", new { area = "Area1" });
                        menu.Add().Text("Area2").Action("Index", "Area", new { area = "Area2" });
                        if (Request.IsAuthenticated)
                        {
                            menu.Add().Text("Hello " + User.Identity.GetUserName() + "!").Action("Index", "Manage", new { area = "" }).ContentHtmlAttributes(new { title = "Manage" });
                            menu.Add().Text("Log Off").HtmlAttributes(new { onclick = "getElementById('logoutForm').submit()" });
                        }
                        else
                        {
                            menu.Add().Text("Register").Action("Register", "Account", new { area = "" }).ContentHtmlAttributes(new { id = "registerLink" });
                            menu.Add().Text("Log in").Action("Login", "Account", new { area = "" }).ContentHtmlAttributes(new { id = "loginLink" });
                        }
                    })
        )

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
            {
                @Html.AntiForgeryToken()
            }
        }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
