<!DOCTYPE html>
<html>
    <head>
        @{
            var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
        } 

        <title>@ViewBag.Title - My Telerik MVC Application</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="http://kendo.cdn.telerik.com/2015.2.624/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://kendo.cdn.telerik.com/2015.2.624/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://kendo.cdn.telerik.com/2015.2.624/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://kendo.cdn.telerik.com/2015.2.624/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://kendo.cdn.telerik.com/2015.2.624/styles/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
	    <script src="http://kendo.cdn.telerik.com/2015.2.624/js/jquery.min.js"></script>
	    <script src="http://kendo.cdn.telerik.com/2015.2.624/js/kendo.all.min.js"></script>
	    <script src="http://kendo.cdn.telerik.com/2015.2.624/js/kendo.aspnetmvc.min.js"></script>

        <script src="http://kendo.cdn.telerik.com/2015.2.624/js/cultures/kendo.culture.@(culture).min.js"></script>
        <script>
            kendo.culture("@culture");
        </script>
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </body>
</html>
