@model Telerik.Examples.Mvc.Areas.MultiColumnComboBoxEdit.Models.SampleData

@if (Model == null)
{
	<script>
		window.location="@Url.Action("Index", "Home")";
	</script>
}
else
{
	<div id="updateWrapper">
		@using (Ajax.BeginForm("Edit", "Home", new AjaxOptions()
			{
				UpdateTargetId = "updateWrapper"
			}))
		{
			@Html.AntiForgeryToken()

			<div class="form-horizontal">
				<h4>SampleData</h4>
				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(model => model.theValue, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.theValue, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.theValue, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.theText, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.theText, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.theText, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Save" class="btn btn-default" />
					</div>
				</div>
			</div>
		}
	</div>
}
