<!DOCTYPE html>
<html>
    <head>
        <!-- Get current KendoUI culture / version
        @{
            var kendoVersion = "2016.2.714";
            var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
        } -->

        <title>@ViewBag.Title - My Telerik MVC Application</title>
         <link href="http://kendo.cdn.telerik.com/@(kendoVersion)/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	     <link href="http://kendo.cdn.telerik.com/@(kendoVersion)/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	     <link href="http://kendo.cdn.telerik.com/@(kendoVersion)/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	     <link href="http://kendo.cdn.telerik.com/@(kendoVersion)/styles/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
	    <script src="http://kendo.cdn.telerik.com/@(kendoVersion)/js/jquery.min.js"></script>
	    <script src="http://kendo.cdn.telerik.com/@(kendoVersion)/js/kendo.all.min.js"></script>
	    <script src="http://kendo.cdn.telerik.com/@(kendoVersion)/js/kendo.aspnetmvc.min.js"></script>
        <script src="http://kendo.cdn.telerik.com/@(kendoVersion)/js/cultures/kendo.culture.@(culture).min.js"></script>
        <script>
            kendo.culture("@culture");
        </script>
</head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <div>
                <div>
                    <div style="margin:5px 0 0 5px">Select culture: </div>
                    @(Html.Kendo().DropDownList()
                        .HtmlAttributes(new { style="margin: 5px" })
                        .Name("CulturesSelector")
                        .BindTo(new[] { "en-US", "de-DE", "bg-BG", "fr-FR", "pl-PL", "ru-RU", "uk-UA" })
                        .Value(culture)
                        .Events(events => events.Change("cultureChange"))
                    )
                </div>
          
                <script>
                    //Scripts for changing current culture
                    var href = window.location.href;
                    if (href.indexOf('culture') > -1) {
                        $('#culture').val(href.replace(/(.*)culture=([^&]*)/, '$2'));
                    }

                    function cultureChange() {
                        var value = this.value();
                        if (href.indexOf('culture') > -1) {
                            href = href.replace(/culture=([^&]*)/, 'culture=' + value);
                        } else {
                            href += href.indexOf('?') > -1 ? '&culture=' + value : '?culture=' + value;
                        }
                        window.location.href = href;
                    }
                </script>

                @RenderBody()
            </div>
        </div>

        <div>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My Telerik MVC Application</p>
                </div>
            </div>
        </div>
    </body>
</html>
