<!DOCTYPE html>
<html>
    <head>
        @{
            var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
        } 

        <title>@ViewBag.Title - My Telerik MVC Application</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	    <link href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
	    <script src="http://cdn.kendostatic.com/2014.2.1008/js/jquery.min.js"></script>
	    <script src="http://cdn.kendostatic.com/2014.2.1008/js/kendo.all.min.js"></script>
	    <script src="http://cdn.kendostatic.com/2014.2.1008/js/kendo.aspnetmvc.min.js"></script>
	    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

        <script src="http://cdn.kendostatic.com/2014.2.1008/js/cultures/kendo.culture.@(culture).min.js"></script>
        <script>
            kendo.culture("@culture");
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My Telerik MVC Application</p>
                </div>
            </div>
        </footer>
    </body>
</html>
